/*
Predefined color names include:
 aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, purple,
 red, silver, teal, white, and yellow.
 transparent is also a valid value.
 */
body {
  font: 100% arial, helvetica, sans-serif;
  color: #0B3861;
  background-color: #CEF6CE;
  /* font-size: 14px; */
  font-size: 1em !important;
  font-family: monospace, arial;
  /* margin: 20px; */
  /* margin-top: 5%; */
  /* padding: 0; */
}

h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 2px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border: solid 0.2em #c00;
}

h2 {
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
    font-style: oblique;
    text-decoration: underline;
}

p {
    line-height: 21px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

#navigation {
    background-color: #0B4C5F;
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    box-shadow: 5px 5px 3px 1px #999;
}

#navigation li {
	display: inline;
    padding-right: 20px;
    color: #01A9DB;
}

#navigation a {
    text-decoration: none;
    padding: 5px;
}


/* Pseudo Clases */
#navigation li a:link {
    color: #E0F2F7;
}

#navigation li a:visited {
    color: #E0F2F7;
}

/* Pesudo clases dinámicas */
#navigation li a:active {
    color: red;
}

#navigation li a:hover {
    text-decoration: none;
    color: #0B4C5F;
    background-color: #E0F2F7;
}

#navigation li a:focus {
	text-decoration: none;
    color:#0B4C5F;
	background-color: #A9E2F3;
    outline: none;
}

/* Página de JS */
#contact-form ul {
    list-style: none;
    background-color: #E0F8E0;
    border: 2px solid #243B0B;
    padding: 5px;
    width: 30%;
}

article header p:first-of-type {
    text-decoration: underline;
    /* font-size: 2em; */
}

article header h2 {
    text-decoration: underline;
    background-color: inherit;
    /* font-size: 2em; */
}

#javascript div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

#javascript .informacion {
  background-color: #e7f3fe;
  border-left: 8px solid #2196F3;
}

#javascript .parrafo {
    font-size: 1.2em;
    padding: 3px;
}

.btnColor {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-weight:bold;
	padding:24px 24px;
    /* font-family:Arial; */
    /* font-size:15px; */
	/* text-decoration:none; */
}
.btnColor:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btnColor:active {
	position:relative;
	top:1px;
}
